
body {
  background-color: #283D54;
  color: #FFC45E;
}

header, footer {
  background-color: #122130;
  color: cornsilk;
}

header a:link, footer a:link {
  color: rgb(255, 255, 183);
}

header a:visited, footer a:visited {
  color: rgb(255, 241, 135);
}

h1, h2, h3, h4, h5, h6 {
  color: #47A0FF;
}

#ld-switch {
  background-color: rgb(27, 39, 61);
  color: rgb(190, 173, 96);
  transition: 250ms;
}

#ld-switch:hover {
  background-color: rgb(226, 219, 123);
  color: rgb(24, 32, 43);
}

.table-container {
  border: 4px solid rgb(31, 45, 68);
  background-color: #573406;
  color: #dce3e9;
}

table {
  border: 2px solid rgb(31, 45, 68);
  background-color: gray;
}

thead th {
  background-color: rgb(222, 222, 222) !important;
  color: rgb(28, 28, 28) !important;
}

#table-locations {
  border: 5px solid rgb(81, 81, 81) !important;
  background-color: rgb(65, 17, 0);
  color: rgb(32, 32, 32);
}

.table-values {
  background-color: rgb(79, 79, 79);
}


tr:last-of-type > :not(:first-child) {
  background-color: rgb(51, 52, 52);
  color: rgb(232, 208, 208);
}

#sales-table tr:last-of-type > :last-child {
  background-color: rgb(35, 35, 35);
  color: rgb(91, 179, 107);
}

#daily-totals {
  background-color: rgb(51, 52, 52);
  color: rgb(232, 208, 208) !important;
}

#popup {
  border: 4px solid rgb(52, 76, 128);
  background-color: rgb(255, 220, 196);
}

footer a {
  color: rgb(196, 228, 255);
}

footer h2 {
  color: cornsilk;
}
