
@font-face { 
	font-family: 'Raleway'; 
	src: url('./assets/Raleway.ttf'); 
}

html {
  padding: 0;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

header, footer {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 80px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

footer {
  margin: 0;
  position: relative;
  flex-flow: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
  font-weight: 900;
}

.nav {
  width: 60%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex: none;
}

.nav li {
  width: 120px;
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ld-switch {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 110%;
  right: 5px;
  border: 3px dashed;
  border-radius: 50%;
}

h1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

#hero {
  max-width: 70%;
  margin-top: 48px;
  margin-bottom:48px;
  flex-grow: 0;
}

#about {
  width: 65%;
  margin-top: 48px;
  margin-bottom: 48px;
}

.table-container {
  width: 1000px;
  margin-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

table {
  width: 100%;
  padding: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

#table-locations {
  width: 140px;
}

.table-values {
  width: min-content;
}

#daily-totals {
  width: fit-content;
  min-width: 120px;
}

th {
  width: 80px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

td {
  padding-top: 2px;
  padding-bottom: 2px;
}

#stats-body {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

#choose-store {
  margin: 16px;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}

#popup {
  height: 100px;
  width: 300px;
  border-radius: 24px;
  padding: 48px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popup-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}

footer ul {
  margin-left: 0;
  padding-left: 0;;
  list-style-type: none;
}

#addresses {
  width: 70%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
