@font-face { 
	font-family: 'Raleway'; 
	src: url('./assets/Raleway-Bold.ttf'); 
}


/* -------------------------------------------- */
/* page custom properties */
html {
  --main-bg-col: hsl(222 52% 95%);
  --main-font-col: hsl(200 5% 15%);
  --hf-font-col: hsl(200 5% 15%);
  --banner-col: hsl(180 69% 43%);
  --accent-font-col: hsl(30 96% 51%);
  --table-bg: hsl(15 40% 85%);
  --table-font-col: hsl(200 5% 15%);
  --table-totals-col: hsl(200 50% 85%);
  --table-grandTotal-col: hsl(200 50% 75%);
  --table-column1-col: hsl(60 100% 76%);
  --table-title-bg-col: hsl(0 0% 80%);
  --ld-col: hsl(50 80% 70%);
  --ld-accent-col: hsl(240 25% 15%);
  --img-brt: 100%;
}

html.dark {
  --main-bg-col: hsl(222 25% 15%);
  --main-font-col: hsl(30 40% 80%);
  /* --banner-col: hsl(190 80% 60%);
  --accent-font-col: hsl(30 90% 45%); */
  --table-bg: hsl(0 0% 15%);
  --table-font-col: hsl(240 5% 80%);
  --table-totals-col: hsl(200 50% 15%);
  --table-grandTotal-col: hsl(200 50% 20%);
  --table-column1-col: hsl(60 50% 10%);
  --table-title-bg-col: hsl(0 0% 25%);
  --ld-col: hsl(240 25% 15%);
  --ld-accent-col: hsl(50 80% 70%);
  --img-brt: 80%;
}


/* -------------------------------------------- */
/* universal element selectors */
ul {
  list-style-type: none;
}

h1, h2, h3 {
  font-family: 'Raleway';
  margin-top: 24px;
  margin-bottom: 24px;
  color: var(--accent-font-col);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-family: 'Raleway';
  margin-top: 16px;
  margin-bottom: 16px;
}

body {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: var(--main-bg-col);
  color: var(--main-font-col);
}

header, footer {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  background-color: var(--banner-col);
  color: var(--hf-font-col);
}

header {
  position: fixed;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

footer {
  margin-top: 32px;
  position: relative;
  flex-flow: column;
  align-items: center;
}

table {
  width: 100%;
  padding: 16px;
  background-color: var(--main-font-col);
  color: var(--table-font-col) !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

th, td {
  width: 80px;
  border: 1px solid hsl(0 0% 15%);;
  border-collapse: collapse;
  background-color: var(--main-bg-col);
}

th {
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

td {
  padding-top: 2px;
  padding-bottom: 2px;
}

a {
  transition: 100ms;
  color: hsl(180 45% 37%);
}

a:hover {
  font-size: 1.1rem;
}

a:visited {
  color: hsl(16 96% 48%);
}

img:not(.static) {
  filter: brightness(var(--img-brt));
}

fieldset {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: left;
  padding: 16px;
}

/* -------------------------------------------- */
/* class and id selectors */
.nav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.nav li {
  width: 100px;
  margin-left: 16px;
  margin-right: 16px;
  align-self: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ld-switch {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 115%;
  right: 10px;
  border: 3px dashed;
  border-radius: 50%;
  background-color: var(--ld-col);
  color: var(--ld-accent-col);
  transition: 250ms;
}

#ld-switch:hover {
  height: 60px;
  width: 60px;
  background-color: var(--ld-accent-col);
  color: var(--ld-col);
  cursor: pointer;
}

.hero {
  max-width: 70%;
  margin-top: 48px;
  margin-bottom:48px;
  position: relative;
  /* flex-grow: 0; */
}

.static {
  position: absolute;
  z-index: 1;
  background: var(--main-bg-col);
}

.static:hover {
  opacity: 0;
}

#about {
  width: 65%;
  margin-top: 48px;
  margin-bottom: 200px;
  font-size: 2rem;
}

.table-container {
  width: 1000px;
  margin-bottom: 32px;
  border: 3px solid var(--banner-col);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--table-bg);
}

tr:not(:first-child) :first-child {
  width: 140px;
  background-color: var(--table-column1-col);
  font-weight: 600;
}

#sales-table tr > td:last-child {
  width: fit-content;
  min-width: 120px;
  background-color: var(--table-totals-col);
  font-weight: 600;
}

thead th {
  background-color: var(--table-title-bg-col) !important;
}

table > tr:last-of-type > :not(:first-child) {
  background-color: var(--table-totals-col);
  font-weight: 600;
}

#sales-table tr:last-of-type > :last-child {
  background-color: var(--table-grandTotal-col);
  font-weight: 700;
}

#params-container {
  max-width: 90vw;
}

#stats-body {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

#stats-body > * {
  margin: 16px;
}

#choose-store {
  margin: 16px;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}

#popup {
  height: 100px;
  width: 300px;
  border: 4px solid var(--banner-col);
  border-radius: 24px;
  padding: 48px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--table-bg);
}

#popup-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}

#gallery-display {
  height: 300px;
  border: 6px var(--accent-font-col) inset;
  padding: 16px;
  background-color: lightgrey;
}

#gallery-select {
  width: 60%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: flex-end;
  overflow: scroll;
}

#gallery-select img {
  height: 120px;
  margin-left: -4px;
  border: 4px gray solid;
  cursor: pointer;
  transition: 100ms;
  filter: grayscale();

}

#gallery-select img:hover {
  height:140px;
  filter: grayscale(0) brightness(var(--img-brt));
}

#order-form {
  width: 500px;
}

#order-form li {
  display: flex;
  justify-content: space-between;
}

#addresses {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

#addresses > * {
  margin: 8px;
}
